body {
    background-color: black;
}

.topPush {
    margin-top: 5em;
}

img {
    margin: 0 auto;
    display: block;
    width: 800px;
}

h3 {
    font-size: 56px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 36px;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 0;
}